.homebutton {
    position: fixed;
    background-color: rgb(255, 255, 255);
    top: 2.5%;
    left: 2%;
    border: 3px solid #00FF00;
    box-shadow:5px 5px 5px rgba(140, 140, 140, 0.5);
    border-radius: 80px;
    padding: 15px 18px;
    cursor: pointer;
    z-index: 30;
    transition: 0.3s;
    font-size: 19px;

}.homebuttonLeft {
    position: fixed;
    background-color: rgb(255, 255, 255);
    top: 2.5%;
    left: 93%;
    border: 3px solid #00FF00;
    box-shadow:5px 5px 5px rgba(140, 140, 140, 0.5);
    border-radius: 80px;
    padding: 15px 18px;
    cursor: pointer;
    z-index: 30;
    transition: 0.3s;
    font-size: 19px;

}

.homebutton:hover {
    padding: 20px 20px;
    background-color: #00FF00;
    color: #ffffff;
    transition: 0.3s;
}
.homebuttonLeft:hover {
    padding: 20px 20px;
    background-color: #00FF00;
    color: #ffffff;
    transition: 0.3s;
}


.showButton {
    position: fixed;
    bottom: 5%;
    right: 2%;
    padding: 10px 40px;
    background-color: white;
    color: #00FF00;
    border: 5px, solid #00FF00;
    border-radius: 50px;
    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 24px;
    cursor: pointer;
    box-shadow:5px 5px 5px #d6d6d6;
    z-index: 25;
    transition: 0.5s;


}

.showButton:hover {
    background-color: #00FF00;
    color: #ffffff;
    padding: 13px 50px;
    transition: 0.5s;

}

.startBouton {
    position: absolute;
    line-height: 0.9;
    background-color: white;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    padding: 30px 80px;
    visibility: hidden;
    background-color: white;
    color:#000000;
    border: 3px solid #00FF00;
    box-shadow:5px 5px 5px rgba(140, 140, 140, 0.5);
    border-radius: 100px;
    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 90px;
    cursor: pointer;
    z-index: 20;
    transition: 0.5s;
}

.startBouton:hover {
    background-color: #00FF00;
    padding: 40px 90px;
    color:#ffffff;
    transition: 0.5s;
}


.restartBouton {
    position: absolute;
    line-height: 0.9;
    background-color: white;
    top: 6.8%;
    left: 23%;
    transform: translate(-50%, -50%);
    display: inline-block;
    padding: 15px 20px;
    visibility: hidden;
    background-color: white;
    color:#00FF00;
    border: 3px solid #00FF00;
    box-shadow:5px 5px 5px rgba(140, 140, 140, 0.5);
    border-radius: 100px;
    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 40px;
    cursor: pointer;
    z-index: 20;
    transition: 0.5s;
}

.restartBouton:hover {
    background-color: #00FF00;
    padding: 20px 30px;
    color:#ffffff;
    transition: 0.5s;
}

.restartBoutonCentered {
    position: absolute;
    line-height: 0.9;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    padding: 30px 80px;
    visibility: hidden;
    background-color: white;
    color:#00FF00;
    border: 0px, solid #00FF00;
    box-shadow:0px 0px 15px #00FF00;
    border-radius: 100px;
    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 90px;
    cursor: pointer;
    z-index: 20;
    transition: 0.5s;
}

.restartBoutonCentered:hover {
    background-color: #00FF00;
    padding: 40px 90px;
    color:#ffffff;
    transition: 0.5s;
}