
#temps { 
    position: absolute;
    top: 8%; /* 10% from the top */
    left: 65%; /* 50% from the left */
    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:"wdth" 100;
    font-size: 24px;
    color: black;
    z-index: 20;
}


/* Animation rebond */
@keyframes bounceIn {
    0% {
        transform: scale(0.5) translateY(-30px);
        opacity: 0;
    }
    60% {
        transform: scale(1.2) translateY(10px);
        opacity: 1;
    }
    80% {
        transform: scale(0.9) translateY(-4px);
    }
    100% {
        transform: scale(1) translateY(0);
    }
}