#contidroite {
    position: fixed;
    top: 40%;
    right: 5%;
    transform: translateX(-50%);
    width: 400px;
    height: auto;
    z-index: 2;
    /* Optional, makes it responsive */
}

#contigauche {
    position: fixed;
    top: 40%;
    left: 24%;
    transform: translateX(-50%);
    width: 400px;
    height: auto;
    z-index: 2;
    /* Optional, makes it responsive */
}

#oceandroite {
    position: fixed;
    top: 40%;
    right: 5%;
    transform: translateX(-50%);
    width: 400px;
    height: auto;
    z-index: 2;
    /* Optional, makes it responsive */
}

#oceangauche {
    position: fixed;
    top: 40%;
    left: 24%;
    transform: translateX(-50%);
    width: 400px;
    height: auto;
    z-index: 2;
    /* Optional, makes it responsive */
}

#bigcontidroite {

    position: fixed;
    top: 36%;
    right: 7%;
    transform: translateX(-50%);
    z-index: 21;
    width: 470px;
    height: auto;
    /* Optional, makes it responsive */
    display: none;
}

#bigcontigauche {
    position: fixed;
    top: 36%;
    left: 27%;
    transform: translateX(-50%);
    z-index: 21;
    width: 470px;
    height: auto;
    /* Optional, makes it responsive */
    display: none;
}

#bigoceandroite {
    position: fixed;
    top: 36%;
    right: 7%;
    transform: translateX(-50%);
    z-index: 21;
    width: 470px;
    height: auto;
    /* Optional, makes it responsive */
    display: none;
}

#bigoceangauche {
    position: fixed;
    top: 36%;
    left: 27%;
    transform: translateX(-50%);
    z-index: 21;
    width: 470px;
    height: auto;
    /* Optional, makes it responsive */
    display: none;
}