canvas {
    display: block;
    /* c'est suffisant */
}

#monCanvas {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 15;
}

#popupCanvas1 {
    width: 100vw;
    height: 100vh;
    display: block;
    z-index: 23;
}


#popupCanvas2 {
    width: 100vw;
    height: 100vh;
    display: block;
    z-index: 23;
}

#popupCanvas3 {
    width: 100vw;
    height: 100vh;
    display: block;
    z-index: 23;
}

#riveCanvas {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 1;
}

#riveCanvasVolcan {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 1;
}

#riveCanvasMains {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 15;
    display: block;
}

#riveCanvasTecto {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 5;
}

#riveCanvasTectoFleches {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 5;
}

#riveCanvasConverge {
    width:100vw; 
    height:auto; 
    display:block;
    z-index: 10
}

#riveCanvasDiverge {
    width:100vw; 
    height:auto; 
    display:block;
    z-index: 8
}




#handCanvas {
    position: absolute;
    pointer-events: none;
    z-index: 4;
    width: 100%;
    height: auto;
    /* optional, make sure it stays on top */
}

#output_canvas {
    position: absolute;
    pointer-events: none;
    width: 100%;
    top: 50%;
    left: 50%;
    height: auto;
    display: block;
    transform: translate(-50%, -50%) scaleX(-1);
    z-index: 13;


}

#canvasRive {
    width: 100%;
    height: auto;
    display: block;
}


#video {
    position: absolute;
    width: 100%;
    height: auto;
    display: none;
}


body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    transition: background 0.5s;
    background-color: white;
    transition: background-color 2.5s linear;
    overflow-x: hidden;
}

.background-grid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image:
        linear-gradient(to right, #e0e0e0 1px, transparent 1px),
        linear-gradient(to bottom, #e0e0e0 1px, transparent 1px);
    background-size: 20px 20px;
    z-index: -1;
}



.verticalCenter {
    margin: 0;
    position: absolute;
    left: 43%;
    transform: translateY(-50%);
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.topLeft {
    position: absolute;
    top: 25%;
    left: 35%;
    transform: translate(-50%, -50%);
}

.bottomLeft {
    position: absolute;
    bottom: -8%;
    left: 35%;
    transform: translate(-50%, -50%);
}

.topRight {
    position: absolute;
    top: 27%;
    right: 20%;
    transform: translate(-50%, -50%);
}

.bottomRight {
    position: absolute;
    bottom: -10%;
    right: 20%;
    transform: translate(-50%, -50%);
}

.centerRight {
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translate(-50%, -50%);
}

.centerLeft {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
}

.middleRight {
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translate(-50%, -50%);
}

.middleLeft {
    position: absolute;
    top: 55%;
    left: 30%;
    transform: translate(-50%, -50%);
}


.centerTop {
    margin: 0;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.position {
    margin: 0;
    position: absolute;
    top: -80%;
    left: 0%;
}

.timer {
    margin-top: 10%;
    color: black;
    font-family: "ZCOOL QingKe HuangYou", sans-serif;
    font-weight: 400;
    font-style: normal;

    font-size: 90px;
    color: black;
    z-index: 21;

}

.hidden {
    display: none;
}

@keyframes bounce {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }

    50% {
        transform: translate(-50%, -50%) scale(1.15);
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

.bounce {
    animation: bounce 0.4s ease;
}


.titre {
    font-family: "Bricolage Grotesque", sans-serif;
    font-variation-settings: "wght" 100;
    color: black;
    font-size: 165px;
    margin: 0;
    line-height: 0.8;
    display: inline-block;
    text-align: left;
}

#info {
    position: absolute;
    top: 1%;
    left: 10%;
    background: rgba(255, 255, 255, 0.7);
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 18px;
    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    z-index: 12;
}

#texteMains {
    position: absolute;
    top: 1%;
    left: 2%;
    background: rgba(255, 255, 255, 0.7);
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 30px;
    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    z-index: 12;
}

#resultMessage {
    text-align: center;
    position: absolute;
    top: 3%;
    left: 3%;
    background: rgba(255, 255, 255, 0.7);
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 38px;
    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    z-index: 12;
}