.homebutton {
    position: absolute;
    background-color: rgb(255, 255, 255);
    top: 10px;
    left: 10px;
    padding: 10px 10px;
    color: #ff0000;
    font-size: 19px;
    border: 5px solid #00FF00;
    border-radius: 80px;
    padding: 15px 15px;
    cursor: pointer;
    z-index: 20;

}

.homebutton:hover {
    background-color: #00FF00;
    
    color: #ffffff;
}

.showButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 40px;
    background-color: white;
    color: #00FF00;
    border: 5px, solid #00FF00;
    border-radius: 50px;
    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 24px;
    cursor: pointer;
    box-shadow:5px 5px 5px #d6d6d6;
    z-index: 20;
    transition: 0.5s;


}

.showButton:hover {
    background-color: #00FF00;
    color: #ffffff;
    padding: 13px 50px;
    transition: 0.5s;

}

.startBouton {
    position: absolute;
    line-height: 0.9;
    background-color: white;
    top: 2%;
    left: 35%;

    display: inline-block;
    padding: 30px 80px;
    visibility: hidden;
    background-color: white;
    color:#00FF00;
    border: 5px, solid #00FF00;
    border-radius: 100px;
    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 90px;
    cursor: pointer;
    z-index: 20;
}

.startBouton:hover {
    background-color: #00FF00;
    color:#ffffff;
}


.restartBouton {
    position: absolute;
    line-height: 0.9;
    background-color: white;
    top: 20%;
    left: center;

    display: inline-block;
    padding: 30px 80px;
    visibility: hidden;
    background-color: white;
    color:#00FF00;
    border: 3px, solid black;
    border-radius: 100px;
    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 90px;
    cursor: pointer;
    z-index: 20;
}

.restartBouton:hover {
    background-color: #00FF00;
}