.homebutton {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px 20px;
    color: #ff0000;
    font-size: 19px;
    border: 5px solid #000000;
    border-radius: 51px;
    padding: 15px 15px;
    cursor: pointer;
    z-index: 20;

}

.homebutton:hover {
    border: 8px solid #1371b0;
    border-radius: 70px;
    color: #2d63c8;
    background-color: #ffffff;
}

.showButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 40px;
    background-color: white;
    color: rgb(0, 0, 0);
    border: 3px, solid black;
    border-radius: 50px;
    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 24px;
    color: black;
    cursor: pointer;
    z-index: 20;


}

.showButton:hover {
    background-color: red;
}

.startBouton {
    position: absolute;
    line-height: 0.9;
    background-color: white;
    top: 40%;
    left: 40%;

    display: inline-block;
    padding: 30px 80px;
    visibility: hidden;
    background-color: white;
    color: rgb(0, 0, 0);
    border: 3px, solid black;
    border-radius: 100px;
    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 90px;
    color: black;
    cursor: pointer;
    z-index: 20;
}

.startBouton:hover {
    background-color: red;
}


.restartBouton {
    position: absolute;
    line-height: 0.9;
    background-color: white;
    top: 20%;
    left: center;

    display: inline-block;
    padding: 30px 80px;
    visibility: hidden;
    background-color: white;
    color: rgb(0, 0, 0);
    border: 3px, solid black;
    border-radius: 100px;
    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 90px;
    color: black;
    cursor: pointer;
    z-index: 20;
}

.restartBouton:hover {
    background-color: red;
}