
canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

#monCanvas {
    width: 1366;
    height: 768;
    z-index: 15;
}


#riveCanvas {
    top : 2%;
    left : -5%;
    width: 112%;
    height: 768;
    z-index: 1;
}

#riveCanvasVolcan {
    left : -5%;
    width: 112%;
    z-index: 1;
}

#riveCanvasMains {
    top: -3%;
    width: 1366;
    height: 768;
    z-index: 15;
}

#riveCanvasTecto {
    top :10%;
    width: 100vw;
    height: auto;
    z-index: 5;
}

#riveCanvasDino {
   
    left:-3%;
    width: 105%;
    height: auto;
    z-index: -1;
}

#riveCanvasCube {
    top: -10%;
    left:-7%;
    width: 115%;
    height: auto;
    z-index: -1;
}

#riveCanvasPlay {
    left:-3%;
    width: 105%;
    height: auto;
    z-index: 20;
}

#riveCanvasConverge{
    top : 3%;
    width: 1366;
    height: 768;
    z-index: 1;
}

#riveCanvasDiverge{
    top : 3%;
    width: 1366;
    height: 768;
    z-index: 1;
}

#handCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    /* optional, make sure it stays on top */
}

#output_canvas {
    position: absolute;
    width: 100%;
    top:50%;
    left: 50%;
    height: auto;
    display: block;
    transform: translate(-50%, -50%) scaleX(-1);
    z-index: 13;

}

#video {
    width: 100vw;
    height: auto;
    display: none;
}


body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    transition: background 0.5s;
    background-color: white;
    transition: background-color 2.5s linear;
}
.background-grid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image:
      linear-gradient(to right, #e0e0e0 1px, transparent 1px),
      linear-gradient(to bottom, #e0e0e0 1px, transparent 1px);
    background-size: 20px 20px;
    z-index: -1;
  }



#expandingCircle {
    position: absolute;
    top: 0px;
    /* Position where you want it */
    left: 0px;
    /* Position where you want it */
    width: 250px;
    /* Initial small size */
    height: 250px;
    /* Initial small size */
    border-radius: 50%;
    /* Make it a circle */
    background-color: white;
    /* White fill */
    border: 2.5px solid black;
    /* Black border */
    z-index: 1;
    /* Make sure it's above other elements */
    transition: all 1s ease;
    /* Smooth animation */
}




.verticalCenter {
    margin: 0;
    position: absolute;
    left: 43%;
    transform: translateY(-50%);
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.topLeft {
    position: absolute;
    top: 25%;
    left: 35%;
    transform: translate(-50%, -50%);
}

.bottomLeft {
    position: absolute;
    bottom: -8%;
    left: 35%;
    transform: translate(-50%, -50%);
}

.topRight {
    position: absolute;
    top: 27%;
    right: 20%;
    transform: translate(-50%, -50%);
}

.bottomRight {
    position: absolute;
    bottom: -10%;
    right: 20%;
    transform: translate(-50%, -50%);
}

.centerRight {
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translate(-50%, -50%);
}

.centerLeft {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
}


.centerTop {
    margin: 0;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.position {
    margin: 0;
    position: absolute;
    top: -80%;
    left: 0%;
}

.timer {
    margin-top: 70px;
    color: black;
    font-family: "ZCOOL QingKe HuangYou", sans-serif;
    font-weight: 400;
    font-style: normal;
   
    font-size: 90px;
    color: black;
    z-index: 10;

}

.hidden {
    display: none;
}

@keyframes bounce {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }

    50% {
        transform: translate(-50%, -50%) scale(1.15);
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

.bounce {
    animation: bounce 0.4s ease;
}


.titre {
    font-family: "Bricolage Grotesque", sans-serif;
    font-variation-settings: "wght" 100;
    color: black;
    font-size: 165px;
    margin: 0;
    line-height: 0.8;
    display: inline-block;
    text-align: left;
}

#info {
    position: absolute;
    top: 1%;
    left: 10%;
    background: rgba(255, 255, 255, 0.7);
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 18px;
    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    z-index: 12;
}

#texteMains {
    position: absolute;
    top: 1%;
    left: 2%;
    background: rgba(255, 255, 255, 0.7);
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 30px;
    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    z-index: 12;
}

#resultMessage {
    text-align: center;
    position: absolute;
    top: 3%;
    left: 3%;
    background: rgba(255, 255, 255, 0.7);
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 38px;
    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    z-index: 12;
}

.annonce {
    font-family: "Bricolage Grotesque", sans-serif;
    font-weight: 700;
    color: rgb(255, 255, 0);
    font-size: 230px;
    margin: 0;
    line-height: 0.8;
    display: inline-block;
    text-align: left;
}

.tu {
    position: absolute;
    top: 2%;
    left: 2%;
    z-index: 10;
}

.as {
    position: absolute;
    top: 2%;
    left: 23%;
    z-index: 10;
}


.cinq {
    position: absolute;
    top: 36%;
    left: 23%;
    z-index: 10;
}

.secondes {
    position: absolute;
    top: 70%;
    left: 23%;
    z-index: 10;
}


#RectangleJaune {
    position: absolute;
    top: 33%;
    left: 100%; /* Commence en dehors de l'écran, à droite */
    transform: translateX(0);
    width: auto; /* S’adapte à la taille du texte */
    background-color: rgb(255, 255, 0);
    height: 250px;
    z-index: 51;
    white-space: nowrap;
    display: flex;
    align-items: center;
    padding: 0 200px; /* un peu d’espace autour du texte */
    animation: glissement 6.9s cubic-bezier(.22,.68,.77,.36)
}
  
#consignes {
    font-family: "Bricolage Grotesque", sans-serif;
    font-weight: 200;
    color: black;
    font-size: 165px;
    margin: 0;
}
  
  @keyframes glissement {
    0% {
      transform: translateX(0);
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      transform: translateX(-200%);
      opacity: 0;
    }
}

#RectangleJauneV2 {
    position: absolute;
    top: 33%;
    left: 100%; /* Commence en dehors de l'écran, à droite */
    transform: translateX(0);
    width: auto; /* S’adapte à la taille du texte */
    background-color: rgb(255, 255, 0);
    height: 250px;
    z-index: 51;
    white-space: nowrap;
    display: flex;
    align-items: center;
    padding: 0 200px; /* un peu d’espace autour du texte */
    animation: glissement 20s cubic-bezier(0.30, -0.05, 0.22, 1.05) forwards;
}
  
#consignesV2 {
    font-family: "Bricolage Grotesque", sans-serif;
    font-weight: 200;
    color: black;
    font-size: 165px;
    margin: 0;
}
  
  @keyframes glissement {
    0% {
      transform: translateX(0);
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      transform: translateX(-200%);
      opacity: 0;
    }
}

#RectangleJaune2 {
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translateX(-50%);
    width: 1450px;
    background-color: rgb(255, 255, 0);
    height: 250px;
    z-index: 1;
    overflow: hidden; /* Masque ce qui sort du rectangle */
}
  
#banniere {
    height: 100%;
    display: flex;
    align-items: center;
    white-space: nowrap;
}
  
#consignes2 {
    font-family: "Bricolage Grotesque", sans-serif;
    font-weight: 200;
    color: black;
    font-size: 165px;
    margin: 0;
    padding-left: 100%;
    white-space: nowrap;
}
  
  /* Animation déplacée dans une classe à part */
.defilement {
    animation: defilement 13s linear infinite;
}
  
@keyframes defilement {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
}

