@keyframes animPoids {
  from { font-variation-settings: "wght" 200; }
  to   { font-variation-settings: "wght" 800; }
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Arial Black', sans-serif;
    background-color: #fff;
    overflow: hidden;
    position: relative;
    height: 100vh;
  }
  



  /* Grille quadrillée */
  .background-grid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image:
      linear-gradient(to right, #e0e0e0 1px, transparent 1px),
      linear-gradient(to bottom, #e0e0e0 1px, transparent 1px);
    background-size: 20px 20px;
    z-index: 0;
  }
  
  /* Contenu centré */
  .content {
    position: relative;
    z-index: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .titre {
    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    animation: animPoid 4s infinite alternate ease-in-out;
    color: black;
    font-size: 180px;
    margin: 0;
    line-height: 0.8;
    display: inline-block;
    text-align: left;
  }
  
  .circle {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    z-index: 1;
    opacity: 0.8;
  }
  

  .ligne {
    display: block;
  }
  
  /* Première ligne normale */
  .ligne1 {
    right : center;
  }
  
  /* Deuxième ligne un peu vers la droite */
  .ligne2 {
    transform: translateX(80px);  /* décale vers la droite */
  }
  
  /* Le lien agit comme le cercle positionné */
  .circle-link {
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: 1;
    text-decoration: none;
  }
  .circle {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    opacity: 0.8;
    display: block;
    z-index: 1;
    text-decoration: none;
    transition: transform 0.2s;
  }
  
  /* images */
  .image-gants { 
    content: url('imagesHub/tectonique.png');
    position: absolute;
    width: 32%;
    height: auto;
    z-index: 100;
    top: 2%;
    left: 5%;
  
  }

  .image-globe { 
    content: url('imagesHub/pangee.png');
    position: absolute;
    width: 15%;
    height: auto;
    z-index: 100;
    top: 5%;
    left: 65%;
  
  }
  .image-ventilateur { 
    content: url('imagesHub/volcan.png');
    position: absolute;
    width: 25%;
    height: auto;
    z-index: 100;
    top: 55%;
    left: 12%;
  
  }

  .image-pompe { 
    content: url('imagesHub/seisme.png');
    position: absolute;
    width: 20%;
    height: auto;
    z-index: 100;
    top: 58%;
    left: 77%;
  
  }

  /* Optionnel : effet au survol */
  .circle:hover {
    transform: scale(1.1);
    cursor: pointer;
  }

  @keyframes weightAnim {
    0%   { font-variation-settings: "wght" 100; }
    50%  { font-variation-settings: "wght" 900; }
    100% { font-variation-settings: "wght" 100; }
  }
  
  .variable-text {
    font-family: 'Inter', sans-serif;
    font-variation-settings: "wght" 100;
    animation: weightAnim 5s infinite;
  }
  

  #Rectangle {
    position: absolute;
    top: 22%;
    left: 47%;
    transform: translateX(-50%);
    width: 750px;
    background-color: rgb(255, 255, 0);
    height: 300px;
    rotate: -5deg;
    z-index: -1;
    visibility: visible;

  }
  
  