#riveCanvasPangee {
    position: absolute;
    top: 8%;
    left: 6%;
    width: 88%;
    height: auto;
    z-index: 13;
}

#riveCanvasEvenement {
    position: absolute;
    top: 2%;
    left: 86%;
    width: 180px;
    height: 120px;
    z-index: 13;
}

#riveCanvasMontagne {
    position: absolute;
    top: 19%;
    left: 78%;
    width: 20%;
    height: auto;
    border-radius: 5%;
    /* Make it a circle */
    background-color: white;
    /* White fill */
    border: 2.5px solid black;
    z-index: 15;
}

#riveCanvasOcean {
    position: absolute;
    top: 19%;
    left: 78%;
    width: 20%;
    height: auto;
    border-radius: 5%;
    /* Make it a circle */
    background-color: white;
    /* White fill */
    border: 2.5px solid black;
    z-index: 15;
}

#riveCanvasVolcan {
    position: absolute;
    top: 8%;
    left: 6%;
    width: 30%;
    height: auto;
    z-index: 15;
}

#status { 
    position: absolute;
    top: 15%;
    left: 65%; 
    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:"wdth" 100;
    font-size: 24px;
    color: black;
    z-index: 20;
}

#temps { 
    position: absolute;
    top: 10%; /* 10% from the top */
    left: 65%; /* 50% from the left */
    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:"wdth" 100;
    font-size: 24px;
    color: black;
    z-index: 20;
}

#imageContainer {
    position: relative;
    width: 100%; /* full width */
    height: 100vh; /* full height */
}

#animContainer {
    position: relative;
    width: 100%; /* full width */
    height: 100vh; /* full height */
}

#sequenceImage1, #sequenceImage2 {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: auto;
    transition: opacity 0.5s ease; /* Smooth fade */
}




.pastille-rebond {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: red;
    border-radius: 50%;
    top: 42%; /* Ajuste selon ton besoin */
    left: 46%; /* Ajuste selon ton besoin */
    z-index: 9999;
    animation: bounceIn 0.6s ease;
}

.pastille-rebond2 {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: red;
    border-radius: 50%;
    top: 42%; /* Ajuste selon ton besoin */
    left: 65%; /* Ajuste selon ton besoin */
    z-index: 9999;
    animation: bounceIn 0.6s ease;
}

.pastille-rebond3 {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: red;
    border-radius: 50%;
    top: 35%; /* Ajuste selon ton besoin */
    left: 51%; /* Ajuste selon ton besoin */
    z-index: 9999;
    animation: bounceIn 0.6s ease;
}


/* Animation rebond */
@keyframes bounceIn {
    0% {
        transform: scale(0.5) translateY(-30px);
        opacity: 0;
    }
    60% {
        transform: scale(1.2) translateY(10px);
        opacity: 1;
    }
    80% {
        transform: scale(0.9) translateY(-4px);
    }
    100% {
        transform: scale(1) translateY(0);
    }
}