
#gantImage {
    position: absolute;
    top: 30px;
    left: 75px;
    z-index: 10;
    width: 90px;
    height: 205px;
    rotate: 30deg;
}

#clickZoneGant {
    position: absolute;
    top: 5px;
    /* même top que ton lunettes.png */
    left: 5px;
    /* même left que ton lunettes.png */
    width: 150px;
    /* taille à ajuster selon la taille de l'image */
    height: 100px;
    /* taille à ajuster aussi */
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
    /* transparent */
    z-index: 15;
    /* au-dessus du background */
}







#contidroite {
    z-index: 10;
    width: 230px;
    height: auto;
    /* Optional, makes it responsive */
}

#contigauche {
    z-index: 10;
    width: 230px;
    height: auto;
    /* Optional, makes it responsive */
}

#oceandroite {
    z-index: 10;
    width: 230px;
    height: auto;
    /* Optional, makes it responsive */
}

#oceangauche {
    z-index: 10;
    width: 230px;
    height: auto;
    /* Optional, makes it responsive */
}

#bigcontidroite {
    z-index: 10;
    width: 300px;
    height: auto;
    /* Optional, makes it responsive */
    display: none;
}

#bigcontigauche {
    z-index: 10;
    width: 300px;
    height: auto;
    /* Optional, makes it responsive */
    display: none;
}

#bigoceandroite {
    z-index: 10;
    width: 300px;
    height: auto;
    /* Optional, makes it responsive */
    display: none;
}

#bigoceangauche {
    z-index: 10;
    width: 300px;
    height: auto;
    /* Optional, makes it responsive */
    display: none;
}


#tectoRectangle {
    position: absolute;
    top: 90%;
    /* Position where you want it */
    left: 25%;
    /* Position where you want it */
    width: 1050px;
    /* Initial small size */
    height: 1050px;
    background-color: white;
    /* White fill */
    border: 2.5px solid black;
    /* Black border */
    transform: translate(-50%, -50%);
    z-index: 0;
    /* Make sure it's above other elements */
    rotate: 30deg;

}