#contidroite {
    position: fixed;
    top: 49%;
    right: 10%;
    transform: translateX(-50%);
    width: 300px;
    height: auto;
    z-index: 2;
    /* Optional, makes it responsive */
}

#contigauche {
    position: fixed;
    top: 49%;
    left: 30%;
    transform: translateX(-50%);
    width: 300px;
    height: auto;
    z-index: 2;
    /* Optional, makes it responsive */
}

#oceandroite {
    position: fixed;
    top: 45%;
    right: 10%;
    transform: translateX(-50%);
    width: 300px;
    height: auto;
    z-index: 2;
    /* Optional, makes it responsive */
}

#oceangauche {
    position: fixed;
    top: 45%;
    left: 30%;
    transform: translateX(-50%);
    width: 300px;
    height: auto;
    z-index: 2;
    /* Optional, makes it responsive */
}

#bigcontidroite {

    position: fixed;
    top: 43%;
    right: 10%;
    transform: translateX(-50%);
    z-index: 21;
    width: 260px;
    height: auto;
    /* Optional, makes it responsive */
    display: none;
}

#bigcontigauche {
    position: fixed;
    top: 43%;
    left: 30%;
    transform: translateX(-50%);
    z-index: 21;
    width: 260px;
    height: auto;
    /* Optional, makes it responsive */
    display: none;
}

#bigoceandroite {
    position: fixed;
    top: 40%;
    right: 10%;
    transform: translateX(-50%);
    z-index: 21;
    width: 260px;
    height: auto;
    /* Optional, makes it responsive */
    display: none;
}

#bigoceangauche {
    position: fixed;
    top: 40%;
    left: 30%;
    transform: translateX(-50%);
    z-index: 21;
    width: 260px;
    height: auto;
    /* Optional, makes it responsive */
    display: none;
}