

#contidroite {
    z-index: 1;
    width: 300px;
    height: auto;
    /* Optional, makes it responsive */
}

#contigauche {
    z-index: 1;
    width: 300px;
    height: auto;
    /* Optional, makes it responsive */
}

#oceandroite {
    z-index: 1;
    width: 300px;
    height: auto;
    /* Optional, makes it responsive */
}

#oceangauche {
    z-index: 1;
    width: 300px;
    height: auto;
    /* Optional, makes it responsive */
}

#bigcontidroite {
    z-index: 10;
    width: 300px;
    height: auto;
    /* Optional, makes it responsive */
    display: none;
}

#bigcontigauche {
    z-index: 10;
    width: 300px;
    height: auto;
    /* Optional, makes it responsive */
    display: none;
}

#bigoceandroite {
    z-index: 10;
    width: 300px;
    height: auto;
    /* Optional, makes it responsive */
    display: none;
}

#bigoceangauche {
    z-index: 10;
    width: 300px;
    height: auto;
    /* Optional, makes it responsive */
    display: none;
}


#tectoRectangle {
    position: absolute;
    top: 90%;
    /* Position where you want it */
    left: 25%;
    /* Position where you want it */
    width: 1050px;
    /* Initial small size */
    height: 1050px;
    background-color: white;
    /* White fill */
    border: 2.5px solid black;
    /* Black border */
    transform: translate(-50%, -50%);
    z-index: 0;
    /* Make sure it's above other elements */
    rotate: 30deg;

}

#legendeLithoConti {
    position: absolute;
    top: 82%;
    left: 5%;
    width: 80px;
    height: 30px;
    background-color: #CD6A5C;
    border: 2.5px solid black;
    transform: translate(-50%, -50%);
    z-index: 20;

}

#legendeLithoOce {
    position: absolute;
    top: 88%;
    left: 5%;
    width: 80px;
    height: 30px;
    background-color: #BDCCD4;
    border: 2.5px solid black;
    transform: translate(-50%, -50%);
    z-index: 20;

}

#legendeAstheno {
    position: absolute;
    top: 94%;
    left: 5%;
    width: 80px;
    height: 30px;
    background-color: #A5614E;
    border: 2.5px solid black;
    transform: translate(-50%, -50%);
    z-index: 20;

}

#textLithoConti {

    position: absolute;
    top: 80%;
    left: 9%;
    font-size: 20px;
    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    z-index: 20;    
}

#textLithoOce {

    position: absolute;
    top: 86%;
    left: 9%;
    font-size: 20px;
    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    z-index: 20;    
}

#textAstheno {

    position: absolute;
    top: 92%;
    left: 9%;
    font-size: 20px;
    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    z-index: 20;    
}