

#contidroite {
    z-index: 21;
    width: 300px;
    height: auto;
    /* Optional, makes it responsive */
}

#contigauche {
    z-index: 21;
    width: 300px;
    height: auto;
    /* Optional, makes it responsive */
}

#oceandroite {
    z-index: 21;
    width: 300px;
    height: auto;
    /* Optional, makes it responsive */
}

#oceangauche {
    z-index: 21;
    width: 300px;
    height: auto;
    /* Optional, makes it responsive */
}

#bigcontidroite {
    z-index: 21;
    width: 300px;
    height: auto;
    /* Optional, makes it responsive */
    display: none;
}

#bigcontigauche {
    z-index: 21;
    width: 300px;
    height: auto;
    /* Optional, makes it responsive */
    display: none;
}

#bigoceandroite {
    z-index: 21;
    width: 300px;
    height: auto;
    /* Optional, makes it responsive */
    display: none;
}

#bigoceangauche {
    z-index: 21;
    width: 300px;
    height: auto;
    /* Optional, makes it responsive */
    display: none;
}




